// footer 
footer.footer#footer
    .container
        .row.align-items-start
            .col.footer__logo
                a(href="index.html").logo
                    img(data-src="./img/logo-yellow.svg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="logotype").logo__image.b-lazy
                h5.footer__logo-decsription Магазин запчастей для ремонта бытовой техники
            .col.col-12.col-lg-3
                .footer__col.footer__col--menu
                    h5.footer__title.text.text--size_big Информация
                    ul.menu-bottom
                        li
                            a(href="#") Инструкции
                        li
                            a(href="#") Гарантия
                        li
                            a(href="#") Доставка и оплата
                        li
                            a(href="#") Отзывы
                        li
                            a(href="#") История заказов
            .col.footer__col.footer__col--contacts   
                a(data-fancybox href="#notifications").btn.-size_primary.footer__contact-btn Связаться с нами
                a(href="#").list-icon.footer__list-icon
                    svg.list-icon__icon
                        use(href="img/icons.svg#wrench")
                    .list-icon__text Ремонт бытовой техники в Волжском и Волгоградской области
        .footer__bottom
            .footer__copyright
                p.text.text--size_big © 2020 |
                h5 VBT Group
            .footer__btn-up
                button.btn-up
                    svg.btn-up__icon
                        use(href="img/icons.svg#arrow-up")
// footer 