// header
nav.mobile-menu.d-block.d-lg-none
    .container.mobile-menu__container
        .mobile-menu__row
            .col.mobile-menu__item
                a(href="#mobile-catalog").mobile-link
                    span.mobile-link__icons
                        svg.mobile-link__icon.mobile-link__icon--main
                            use(href="img/icons.svg#book")
                        svg.mobile-link__icon.mobile-link__icon--times
                            use(href="img/icons.svg#times")
                    span.mobile-link__text Каталог
            .col.mobile-menu__item
                a(href="#mobile-search").mobile-link
                    span.mobile-link__icons
                        svg.mobile-link__icon.mobile-link__icon--main
                            use(href="img/icons.svg#search")
                        svg.mobile-link__icon.mobile-link__icon--times
                            use(href="img/icons.svg#times")
                    span.mobile-link__text Поиск
            .col.mobile-menu__item
                a(href="#").mobile-link
                    span.mobile-link__icons
                        svg.mobile-link__icon.mobile-link__icon--main
                            use(href="img/icons.svg#chat")
                        svg.mobile-link__icon.mobile-link__icon--times
                            use(href="img/icons.svg#times")
                    span.mobile-link__text Чат
            .col.mobile-menu__item
                a(href="#").mobile-link
                    span.mobile-link__icons
                        svg.mobile-link__icon.mobile-link__icon--main
                            use(href="img/icons.svg#shop")
                        svg.mobile-link__icon.mobile-link__icon--times
                            use(href="img/icons.svg#times")
                    span.mobile-link__text Заказы
            .col.mobile-menu__item
                a(href="#").mobile-link
                    span.mobile-link__icons
                        svg.mobile-link__icon.mobile-link__icon--main
                            use(href="img/icons.svg#bucket")
                        svg.mobile-link__icon.mobile-link__icon--times
                            use(href="img/icons.svg#times")
                    span.mobile-link__text Корзина
    .mobile-block#mobile-catalog
        .mobile-menu__header-categories
            ul.header-categories
                li.active
                    a(href="#one")
                        svg
                            use(href="img/icons.svg#catalog--0")
                        | По производителю
                        svg
                            use(href="img/icons.svg#triangle-down")
                    ul.catalog-list
                        li
                            a(href="#") Все детали
                        li
                            a(href="#") Встройка
                        li
                            a(href="#") Обрамление полок
                        li
                            a(href="#") Полки
                        li
                            a(href="#") Ремкомплекты
                        li
                            a(href="#") Балконы надверные
                        li
                            a(href="#") Ледогенератор
                        li
                            a(href="#") Петли и двери
                        li
                            a(href="#") Резины (уплотнители)
                        li
                            a(href="#") Средства по уходу
                        li
                            a(href="#") Щитки откидные
                        li
                            a(href="#") Ящики холод. камер
                        li
                            a(href="#") Ящики морозилок
                        li
                            a(href="#") Электроника
                        li
                            a(href="#") Панели ящиков
                        li
                            a(href="#") Прочее
                        li
                            a(href="#") Ручки
                        li
                            a(href="#") Вентиляторы
                        li
                            a(href="#") Направляющие
                li
                    a(href="#two")
                        svg
                            use(href="img/icons.svg#catalog--1")
                        | Для холодильников
                        svg
                            use(href="img/icons.svg#triangle-down")
                    ul.catalog-list
                        li
                            a(href="#") Все детали
                        li
                            a(href="#") Встройка
                        li
                            a(href="#") Обрамление полок
                        li
                            a(href="#") Полки
                        li
                            a(href="#") Ремкомплекты
                        li
                            a(href="#") Балконы надверные
                        li
                            a(href="#") Ледогенератор
                        li
                            a(href="#") Петли и двери
                        li
                            a(href="#") Резины (уплотнители)
                        li
                            a(href="#") Средства по уходу
                        li
                            a(href="#") Щитки откидные
                        li
                            a(href="#") Ящики холод. камер
                        li
                            a(href="#") Ящики морозилок
                        li
                            a(href="#") Электроника
                        li
                            a(href="#") Панели ящиков
                        li
                            a(href="#") Прочее
                        li
                            a(href="#") Ручки
                        li
                            a(href="#") Вентиляторы
                        li
                            a(href="#") Направляющие
                li
                    a(href="#three")
                        svg
                            use(href="img/icons.svg#catalog--2")
                        | Для стиральных машин
                        svg
                            use(href="img/icons.svg#triangle-down")
                    ul.catalog-list
                        li
                            a(href="#") Все детали
                        li
                            a(href="#") Встройка
                        li
                            a(href="#") Обрамление полок
                        li
                            a(href="#") Полки
                        li
                            a(href="#") Ремкомплекты
                        li
                            a(href="#") Балконы надверные
                        li
                            a(href="#") Ледогенератор
                        li
                            a(href="#") Петли и двери
                        li
                            a(href="#") Резины (уплотнители)
                        li
                            a(href="#") Средства по уходу
                        li
                            a(href="#") Щитки откидные
                        li
                            a(href="#") Ящики холод. камер
                        li
                            a(href="#") Ящики морозилок
                        li
                            a(href="#") Электроника
                        li
                            a(href="#") Панели ящиков
                        li
                            a(href="#") Прочее
                        li
                            a(href="#") Ручки
                        li
                            a(href="#") Вентиляторы
                        li
                            a(href="#") Направляющие
                li
                    a(href="#one")
                        svg
                            use(href="img/icons.svg#catalog--3")
                        | Для кофемашин
                        svg
                            use(href="img/icons.svg#triangle-down")
                    ul.catalog-list
                        li
                            a(href="#") Все детали
                        li
                            a(href="#") Встройка
                        li
                            a(href="#") Обрамление полок
                        li
                            a(href="#") Полки
                        li
                            a(href="#") Ремкомплекты
                        li
                            a(href="#") Балконы надверные
                        li
                            a(href="#") Ледогенератор
                        li
                            a(href="#") Петли и двери
                        li
                            a(href="#") Резины (уплотнители)
                        li
                            a(href="#") Средства по уходу
                        li
                            a(href="#") Щитки откидные
                        li
                            a(href="#") Ящики холод. камер
                        li
                            a(href="#") Ящики морозилок
                        li
                            a(href="#") Электроника
                        li
                            a(href="#") Панели ящиков
                        li
                            a(href="#") Прочее
                        li
                            a(href="#") Ручки
                        li
                            a(href="#") Вентиляторы
                        li
                            a(href="#") Направляющие
                li
                    a(href="#two")
                        svg
                            use(href="img/icons.svg#catalog--4")
                        | Для посудомоек
                        svg
                            use(href="img/icons.svg#triangle-down")
                    ul.catalog-list
                        li
                            a(href="#") Все детали
                        li
                            a(href="#") Встройка
                        li
                            a(href="#") Обрамление полок
                        li
                            a(href="#") Полки
                        li
                            a(href="#") Ремкомплекты
                        li
                            a(href="#") Балконы надверные
                        li
                            a(href="#") Ледогенератор
                        li
                            a(href="#") Петли и двери
                        li
                            a(href="#") Резины (уплотнители)
                        li
                            a(href="#") Средства по уходу
                        li
                            a(href="#") Щитки откидные
                        li
                            a(href="#") Ящики холод. камер
                        li
                            a(href="#") Ящики морозилок
                        li
                            a(href="#") Электроника
                        li
                            a(href="#") Панели ящиков
                        li
                            a(href="#") Прочее
                        li
                            a(href="#") Ручки
                        li
                            a(href="#") Вентиляторы
                        li
                            a(href="#") Направляющие
                li
                    a(href="#three")
                        svg
                            use(href="img/icons.svg#catalog--5")
                        | Для сушилок
                        svg
                            use(href="img/icons.svg#triangle-down")
                    ul.catalog-list
                        li
                            a(href="#") Все детали
                        li
                            a(href="#") Встройка
                        li
                            a(href="#") Обрамление полок
                        li
                            a(href="#") Полки
                        li
                            a(href="#") Ремкомплекты
                        li
                            a(href="#") Балконы надверные
                        li
                            a(href="#") Ледогенератор
                        li
                            a(href="#") Петли и двери
                        li
                            a(href="#") Резины (уплотнители)
                        li
                            a(href="#") Средства по уходу
                        li
                            a(href="#") Щитки откидные
                        li
                            a(href="#") Ящики холод. камер
                        li
                            a(href="#") Ящики морозилок
                        li
                            a(href="#") Электроника
                        li
                            a(href="#") Панели ящиков
                        li
                            a(href="#") Прочее
                        li
                            a(href="#") Ручки
                        li
                            a(href="#") Вентиляторы
                        li
                            a(href="#") Направляющие
                li
                    a(href="#one")
                        svg
                            use(href="img/icons.svg#catalog--6")
                        | Для духовок
                        svg
                            use(href="img/icons.svg#triangle-down")
                    ul.catalog-list
                        li
                            a(href="#") Все детали
                        li
                            a(href="#") Встройка
                        li
                            a(href="#") Обрамление полок
                        li
                            a(href="#") Полки
                        li
                            a(href="#") Ремкомплекты
                        li
                            a(href="#") Балконы надверные
                        li
                            a(href="#") Ледогенератор
                        li
                            a(href="#") Петли и двери
                        li
                            a(href="#") Резины (уплотнители)
                        li
                            a(href="#") Средства по уходу
                        li
                            a(href="#") Щитки откидные
                        li
                            a(href="#") Ящики холод. камер
                        li
                            a(href="#") Ящики морозилок
                        li
                            a(href="#") Электроника
                        li
                            a(href="#") Панели ящиков
                        li
                            a(href="#") Прочее
                        li
                            a(href="#") Ручки
                        li
                            a(href="#") Вентиляторы
                        li
                            a(href="#") Направляющие
                li
                    a(href="#two")
                        svg
                            use(href="img/icons.svg#catalog--7")
                        | Для газовых плит
                        svg
                            use(href="img/icons.svg#triangle-down")
                    ul.catalog-list
                        li
                            a(href="#") Все детали
                        li
                            a(href="#") Встройка
                        li
                            a(href="#") Обрамление полок
                        li
                            a(href="#") Полки
                        li
                            a(href="#") Ремкомплекты
                        li
                            a(href="#") Балконы надверные
                        li
                            a(href="#") Ледогенератор
                        li
                            a(href="#") Петли и двери
                        li
                            a(href="#") Резины (уплотнители)
                        li
                            a(href="#") Средства по уходу
                        li
                            a(href="#") Щитки откидные
                        li
                            a(href="#") Ящики холод. камер
                        li
                            a(href="#") Ящики морозилок
                        li
                            a(href="#") Электроника
                        li
                            a(href="#") Панели ящиков
                        li
                            a(href="#") Прочее
                        li
                            a(href="#") Ручки
                        li
                            a(href="#") Вентиляторы
                        li
                            a(href="#") Направляющие
                li
                    a(href="#three")
                        svg
                            use(href="img/icons.svg#catalog--8")
                        | Для электроплит
                        svg
                            use(href="img/icons.svg#triangle-down")
                    ul.catalog-list
                        li
                            a(href="#") Все детали
                        li
                            a(href="#") Встройка
                        li
                            a(href="#") Обрамление полок
                        li
                            a(href="#") Полки
                        li
                            a(href="#") Ремкомплекты
                        li
                            a(href="#") Балконы надверные
                        li
                            a(href="#") Ледогенератор
                        li
                            a(href="#") Петли и двери
                        li
                            a(href="#") Резины (уплотнители)
                        li
                            a(href="#") Средства по уходу
                        li
                            a(href="#") Щитки откидные
                        li
                            a(href="#") Ящики холод. камер
                        li
                            a(href="#") Ящики морозилок
                        li
                            a(href="#") Электроника
                        li
                            a(href="#") Панели ящиков
                        li
                            a(href="#") Прочее
                        li
                            a(href="#") Ручки
                        li
                            a(href="#") Вентиляторы
                        li
                            a(href="#") Направляющие
                li
                    a(href="#one")
                        svg
                            use(href="img/icons.svg#catalog--9")
                        | Для микроволновок
                        svg
                            use(href="img/icons.svg#triangle-down")
                    ul.catalog-list
                        li
                            a(href="#") Все детали
                        li
                            a(href="#") Встройка
                        li
                            a(href="#") Обрамление полок
                        li
                            a(href="#") Полки
                        li
                            a(href="#") Ремкомплекты
                        li
                            a(href="#") Балконы надверные
                        li
                            a(href="#") Ледогенератор
                        li
                            a(href="#") Петли и двери
                        li
                            a(href="#") Резины (уплотнители)
                        li
                            a(href="#") Средства по уходу
                        li
                            a(href="#") Щитки откидные
                        li
                            a(href="#") Ящики холод. камер
                        li
                            a(href="#") Ящики морозилок
                        li
                            a(href="#") Электроника
                        li
                            a(href="#") Панели ящиков
                        li
                            a(href="#") Прочее
                        li
                            a(href="#") Ручки
                        li
                            a(href="#") Вентиляторы
                        li
                            a(href="#") Направляющие
                li
                    a(href="#two")
                        svg
                            use(href="img/icons.svg#catalog--10")
                        | Для остального
                        svg
                            use(href="img/icons.svg#triangle-down")
                    ul.catalog-list
                        li
                            a(href="#") Все детали
                        li
                            a(href="#") Встройка
                        li
                            a(href="#") Обрамление полок
                        li
                            a(href="#") Полки
                        li
                            a(href="#") Ремкомплекты
                        li
                            a(href="#") Балконы надверные
                        li
                            a(href="#") Ледогенератор
                        li
                            a(href="#") Петли и двери
                        li
                            a(href="#") Резины (уплотнители)
                        li
                            a(href="#") Средства по уходу
                        li
                            a(href="#") Щитки откидные
                        li
                            a(href="#") Ящики холод. камер
                        li
                            a(href="#") Ящики морозилок
                        li
                            a(href="#") Электроника
                        li
                            a(href="#") Панели ящиков
                        li
                            a(href="#") Прочее
                        li
                            a(href="#") Ручки
                        li
                            a(href="#") Вентиляторы
                        li
                            a(href="#") Направляющие
            .catalog-shares
                .catalog-content__title
                    p.text.text--size_big Акции
                .banner-menu
                    img(width="155" height="37" src="img/bosch.png" alt="bosch")._logo
                    ._image
                        img(src="img/header/4.jpg" alt="bosch")
                    h5._title 
                        | Скидка 
                        span 15%  
                        | на технику BOSCH по промокоду
                    a(href="#")._btn.btn.btn--size_primary купить
    .mobile-block#mobile-search
        form.search-form.mobile-menu__search-form
            input(type="text" name="search-input" placeholder="Найти..." required)._input
            .search-resault
                a(href="#")._link
                    span._text Балкон надверный для холодильников Bosch (Бош) 100 х 473 x 127 мм
                    span._text.-price 1759 руб. 
                a(href="#")._link
                    span._text Балкон надверный для холодильников Bosch (Бош) 100 х 473 x 127 мм
                    span._text.-price 1759 руб. 
                a(href="#")._link
                    span._text Балкон надверный для холодильников Bosch (Бош) 100 х 473 x 127 мм
                    span._text.-price 1759 руб. 
                a(href="#")._link
                    span._text Балкон надверный для холодильников Bosch (Бош) 100 х 473 x 127 мм
                    span._text.-price 1759 руб. 
                a(href="#")._link
                    span._text Балкон надверный для холодильников Bosch (Бош) 100 х 473 x 127 мм
                    span._text.-price 1759 руб. 
            button(type="submit")._btn.btn.btn--effect_darkness
                span.btn__text Поиск
                svg.btn__icon.search-form__icon
                    use(href="img/icons.svg#search")
header.header#header
    ._top
        .container 
            .row.align-items-center
                .col.col-6.col-lg-3
                    a(href="/").logo.logo--top
                        img(data-src="./img/logo-black.svg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="logotype").logo__image.b-lazy
                .col.col-6.d-none.d-lg-flex.justify-content-center
                    form.search-form
                        input(type="text" name="search-input" placeholder="Найти..." required)._input
                        .search-resault
                            a(href="#")._link
                                span._text Балкон надверный для холодильников Bosch (Бош) 100 х 473 x 127 мм
                                span._text.-price 1759 руб. 
                            a(href="#")._link
                                span._text Балкон надверный для холодильников Bosch (Бош) 100 х 473 x 127 мм
                                span._text.-price 1759 руб. 
                            a(href="#")._link
                                span._text Балкон надверный для холодильников Bosch (Бош) 100 х 473 x 127 мм
                                span._text.-price 1759 руб. 
                            a(href="#")._link
                                span._text Балкон надверный для холодильников Bosch (Бош) 100 х 473 x 127 мм
                                span._text.-price 1759 руб. 
                            a(href="#")._link
                                span._text Балкон надверный для холодильников Bosch (Бош) 100 х 473 x 127 мм
                                span._text.-price 1759 руб. 
                        button(type="submit")._btn.btn.btn--effect_darkness
                            span.btn__text Поиск
                            svg.btn__icon.search-form__icon
                                use(href="img/icons.svg#search")
                .col.col-3.d-none.d-lg-block
                    ul.menu-top
                        li
                            a(href="#").menu-top__link
                                svg.menu-top__icon
                                    use(href="img/icons.svg#chat")
                                | Чат
                        li
                            a(href="#").menu-top__link
                                svg.menu-top__icon
                                    use(href="img/icons.svg#shop")
                                | Заказы
                        li
                            a(href="#").menu-top__link
                                span.link-bucket
                                    span.link-bucket__quantity 1
                                svg.menu-top__icon
                                    use(href="img/icons.svg#bucket")
                                | Корзина
                .col.col-6.d-lg-none.d-flex.justify-content-end
                    button.hamb
                        span.hamb__line.hamb__line--one
                        span.hamb__line.hamb__line--two
                        span.hamb__line.hamb__line--three
                        span.hamb__line.hamb__line--four
nav.menu-sticky
    .container
        .menu-sticky__full-right.full-right
            .menu-sticky__catalog.d-none.d-lg-flex
                button.btn-catalog
                    svg.btn-catalog__icon
                        use(href="img/icons.svg#book")
                    span.btn-catalog__text КАТАЛОГ
                    svg.btn-catalog__icon.btn-catalog__icon--triangle
                        use(href="img/icons.svg#triangle-down")
                .catalog-menu
                    ._container
                        .row
                            .col.catalog-menu__column.catalog-menu__column--one
                                ul.header-categories
                                    li.active
                                        a(href="#one")
                                            svg
                                                use(href="img/icons.svg#catalog--0")
                                            | По производителю
                                    li
                                        a(href="#two")
                                            svg
                                                use(href="img/icons.svg#catalog--1")
                                            | Для холодильников
                                    li
                                        a(href="#three")
                                            svg
                                                use(href="img/icons.svg#catalog--2")
                                            | Для стиральных машин
                                    li
                                        a(href="#one")
                                            svg
                                                use(href="img/icons.svg#catalog--3")
                                            | Для кофемашин
                                    li
                                        a(href="#two")
                                            svg
                                                use(href="img/icons.svg#catalog--4")
                                            | Для посудомоек
                                    li
                                        a(href="#three")
                                            svg
                                                use(href="img/icons.svg#catalog--5")
                                            | Для сушилок
                                    li
                                        a(href="#one")
                                            svg
                                                use(href="img/icons.svg#catalog--6")
                                            | Для духовок
                                    li
                                        a(href="#two")
                                            svg
                                                use(href="img/icons.svg#catalog--7")
                                            | Для газовых плит
                                    li
                                        a(href="#three")
                                            svg
                                                use(href="img/icons.svg#catalog--8")
                                            | Для электроплит
                                    li
                                        a(href="#one")
                                            svg
                                                use(href="img/icons.svg#catalog--9")
                                            | Для микроволновок
                                    li
                                        a(href="#two")
                                            svg
                                                use(href="img/icons.svg#catalog--10")
                                            | Для остального
                            .col.catalog-menu__column.catalog-menu__column--two
                                .catalog-content
                                    ._top
                                        form.search-form
                                            input(type="text" name="search-input" placeholder="Найти..." required)._input
                                            .search-resault
                                                a(href="#")._link
                                                    span._text Балкон надверный для холодильников Bosch (Бош) 100 х 473 x 127 мм
                                                    span._text.-price 1759 руб. 
                                                a(href="#")._link
                                                    span._text Балкон надверный для холодильников Bosch (Бош) 100 х 473 x 127 мм
                                                    span._text.-price 1759 руб. 
                                                a(href="#")._link
                                                    span._text Балкон надверный для холодильников Bosch (Бош) 100 х 473 x 127 мм
                                                    span._text.-price 1759 руб. 
                                                a(href="#")._link
                                                    span._text Балкон надверный для холодильников Bosch (Бош) 100 х 473 x 127 мм
                                                    span._text.-price 1759 руб. 
                                                a(href="#")._link
                                                    span._text Балкон надверный для холодильников Bosch (Бош) 100 х 473 x 127 мм
                                                    span._text.-price 1759 руб. 
                                            button(type="submit")._btn.btn.btn--effect_darkness
                                                span.btn__text Поиск
                                                svg.btn__icon.search-form__icon
                                                    use(href="img/icons.svg#search")
                                        button.catalog-menu__close
                                            svg
                                                use(href="img/icons.svg#times") 
                                    ._bottom
                                        ._rubrics.-active#one
                                            .catalog-content__title
                                                h4 Для холодильников
                                            ._content-wrapper
                                                ul.catalog-list.catalog-menu__catalog-list
                                                    li
                                                        a(href="#") Все детали
                                                    li
                                                        a(href="#") Встройка
                                                    li
                                                        a(href="#") Обрамление полок
                                                    li
                                                        a(href="#") Полки
                                                    li
                                                        a(href="#") Ремкомплекты
                                                    li
                                                        a(href="#") Балконы надверные
                                                    li
                                                        a(href="#") Ледогенератор
                                                    li
                                                        a(href="#") Петли и двери
                                                    li
                                                        a(href="#") Резины (уплотнители)
                                                    li
                                                        a(href="#") Средства по уходу
                                                    li
                                                        a(href="#") Щитки откидные
                                                    li
                                                        a(href="#") Ящики холод. камер
                                                    li
                                                        a(href="#") Ящики морозилок
                                                    li
                                                        a(href="#") Электроника
                                                    li
                                                        a(href="#") Панели ящиков
                                                    li
                                                        a(href="#") Прочее
                                                    li
                                                        a(href="#") Ручки
                                                    li
                                                        a(href="#") Вентиляторы
                                                    li
                                                        a(href="#") Направляющие
                                        ._rubrics#three
                                            .catalog-content__title
                                                h4 Для духовок
                                            ._content-wrapper
                                                ul.catalog-list.catalog-menu__catalog-list
                                                    li
                                                        a(href="#") Все детали
                                                    li
                                                        a(href="#") Встройка
                                                    li
                                                        a(href="#") Обрамление полок
                                                    li
                                                        a(href="#") Полки
                                                    li
                                                        a(href="#") Ремкомплекты
                                                    li
                                                        a(href="#") Балконы надверные
                                                    li
                                                        a(href="#") Ледогенератор
                                                    li
                                                        a(href="#") Петли и двери
                                                    li
                                                        a(href="#") Резины (уплотнители)
                                                    li
                                                        a(href="#") Средства по уходу
                                                    li
                                                        a(href="#") Щитки откидные
                                                    li
                                                        a(href="#") Ящики холод. камер
                                                    li
                                                        a(href="#") Ящики морозилок
                                                    li
                                                        a(href="#") Электроника
                                        ._rubrics#two
                                            .catalog-content__title
                                                h4 Для сушилок
                                            ._content-wrapper
                                                ul.catalog-list.catalog-menu__catalog-list
                                                    li
                                                        a(href="#") Все детали
                                                    li
                                                        a(href="#") Встройка
                                                    li
                                                        a(href="#") Обрамление полок
                                                    li
                                                        a(href="#") Полки
                                                    li
                                                        a(href="#") Ремкомплекты
                                                    li
                                                        a(href="#") Балконы надверные
                                                    li
                                                        a(href="#") Ледогенератор
                                                    li
                                                        a(href="#") Петли и двери
                                                    li
                                                        a(href="#") Резины (уплотнители)
                                                    li
                                                        a(href="#") Средства по уходу
                                                    li
                                                        a(href="#") Щитки откидные
                                                    li
                                                        a(href="#") Ящики холод. камер
                                                    li
                                                        a(href="#") Ящики морозилок
                                                    li
                                                        a(href="#") Электроника
                                                    li
                                                        a(href="#") Панели ящиков
                                                    li
                                                        a(href="#") Прочее
                                                    li
                                                        a(href="#") Ручки
                                                    li
                                                        a(href="#") Вентиляторы
                                                    li
                                                        a(href="#") Направляющие
                                        .catalog-shares
                                            .catalog-content__title
                                                p.text.text--size_big Акции
                                            .banner-menu
                                                img(width="155" height="37" src="img/bosch.png" alt="bosch")._logo
                                                ._image
                                                    img(src="img/header/4.jpg" alt="bosch")
                                                h5._title 
                                                    | Скидка 
                                                    span 15%  
                                                    | на технику BOSCH по промокоду
                                                a(href="#")._btn.btn.btn--size_primary купить
            ul.main-menu
                li.active
                    a(href="#") Главная
                li
                    a(href="#") Доставка и оплата
                li
                    a(href="#") Контакты
// header 