/*
 * ==================================================================================
 * text
 * ==================================================================================
 */

p,
.text {
    color: $black;
    font-size: 1rem;

    &--size_big {
        font-size: 1.125rem;
    }

    &--weight_bold {
        font-weight: $bold;
    }
}

/*
 * ==================================================================================
 * link
 * ==================================================================================
 */

a,
.link {
    color: $black;
    font-size: 1rem;
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }

    &--decoration_underline {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    &--color_orange {
        color: $orange;
    }
}

/*
 * ==================================================================================
 * buttons
 * ==================================================================================
 */

.btn {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: $bold;
    font-size: 1rem;
    outline: none;
    cursor: pointer;
    color: $white;
    background: $orange;
    border: 1px solid $orange;
    border-radius: 3px;
    transition: color 0.3s ease-in-out, background 0.3s ease-in-out, border-color 0.3s ease-in-out,
        box-shadow 0.3s ease-in-out;

    @media (max-width: $sm + px) {
        font-size: 1rem;
    }

    &:hover {
        color: $orange;
        background: transparent;
    }

    &--active {
        background: $grey;
        border-color: $grey;
        cursor: default;
    }

    &--type_empty {
        color: $orange;
        background: transparent;

        &:hover {
            color: $white;
            background: $orange;
        }
    }

    &--size_small {
        padding: 0.5em;
    }

    &--size_primary {
        padding: 0.625em 1.25em;
    }

    &--size_big {
        padding: 1.25em 2em;
    }

    &--color_blue {
        color: $white;
        background: $blue;
        border-color: $blue;

        &:hover {
            color: $blue;
            background: transparent;
        }
    }

    &--color_yellow {
        color: $white;
        background: $yellow;
        border-color: $yellow;

        &:hover {
            color: $yellow;
            background: transparent;
        }
    }

    &--color_green {
        color: $white;
        background: $green;
        border-color: $green;

        &:hover {
            color: $green;
            background: transparent;
        }
    }
}

/*
 * ==================================================================================
 * visually-hidden
 * ==================================================================================
 */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

/*
 * ==================================================================================
 * title
 * ==================================================================================
 */

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: $bold;
}

h1 {
    font-size: 3rem;

    @media (max-width: $sm + px) {
        font-size: 1.875rem;
    }
}

h2 {
    font-size: 2.25rem;

    @media (max-width: $sm + px) {
        font-size: 1.5rem;
    }
}

h3 {
    font-size: 1.875rem;

    @media (max-width: $sm + px) {
        font-size: 1.125rem;
    }
}

h4 {
    font-size: 1.5rem;

    @media (max-width: $sm + px) {
        font-size: 1.125rem;
    }
}

h5 {
    font-size: 1.125rem;
}
