/*
 * ==================================================================================
 * link
 * ==================================================================================
 */

a,
.link {
    color: $black;
    font-size: 1rem;
    line-height: 22px;
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }

    &--decoration_underline {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    &--color_orange {
        color: $orange;
    }
}

/*
 * ==================================================================================
 * text
 * ==================================================================================
 */

p,
.text {
    color: $black;
    font-size: 1rem;
    line-height: 22px;

    &--size_small {
        font-size: .875rem;
        line-height: 19px;
    }

    &--size_big {
        font-size: 1.125rem;
        line-height: 25px;
    }

    &--weight_bold {
        font-weight: $bold;
    }

    &--style_italic {
        font-style: italic;
    }

    &--center { 
        text-align: center;
    }

    &--orange {
        color: $orange;
    }

    &--yellow {
        color: $yellow;
    }

    &--grey {
        color: $grey-text; 
    }

    &--grey_light {
        color: $grey;
    }

    &--dark-grey {
        color: $dark-grey;
    }

    &--blue {
        color: $blue;
    }
}

p {
    margin: 0;
    margin-top: 30px;

    @media (max-width: $sm + px) {
        margin-top: 20px;
    }
}

.text {
    margin: 0;
}

/*
 * ==================================================================================
 * buttons
 * ==================================================================================
 */

.btn {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: $bold;
    font-size: 1rem;
    line-height: 22px;
    outline: none;
    cursor: pointer;
    color: $white;
    background: $orange;
    border: 1px solid $orange;
    border-radius: 3px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: color 0.3s ease-in-out, background 0.3s ease-in-out, border-color 0.3s ease-in-out,
        box-shadow 0.3s ease-in-out;

    @media (max-width: $sm + px) {
        font-size: 1rem;
    }

    &__text {
        margin: 0 5px;
        white-space: nowrap;
    }

    &__icon {
        width: 20px;
        height: 20px;
        margin: 0 5px;
        fill: $white;
        transition: fill 0.3s ease-in-out;
    }

    &:hover,
    &.btn--hover {
        color: $orange;
        background: transparent;
    }

    &--active {
        background: $grey;
        border-color: $grey;
        cursor: default;
    }

    &--type_empty {
        color: $orange;
        background: transparent;

        .btn__icon {
            fill: $orange;
        }

        &:hover,
        &.btn--hover {
            color: $white;
            background: $orange;

            .btn__icon {
                fill: $white;
            }
        }
    }

    &--effect_darkness {
        &:hover {
            color: $white;
            background: #db4600;
            border-color: #db4600;

            svg {
                fill: $white;
            }
        }
    }

    &--square {
        padding: 5px 0;
    }

    &--size_small {
        padding: 0.5em calc(0.5em - 5px);

        &.btn--color_blue {
            @media (max-width: $sm + px) {
                padding: 0.5em calc(0.5em - 7px);

                .btn__text {
                        margin: 0 3px;
                }
            }
        }
    }

    &--size_primary {
        padding: 0.625em calc(1.25em - 5px);
    }

    &--size_big {
        padding: 1.25em calc(2em - 5px);
    }

    &--color_blue {
        color: $white;
        background: $blue;
        border-color: $blue;

        &:hover,
        &.btn--hover {
            color: $blue;
            background: transparent;
        }
    }

    &--color_yellow {
        color: $white;
        background: $yellow;
        border-color: $yellow;

        &:hover,
        &.btn--hover {
            color: $yellow;
            background: transparent;

            .btn__icon {
                fill: $yellow;
            }
        }
    }

    &--color_green {
        color: $white;
        background: $green;
        border-color: $green;

        &:hover,
        &.btn--hover {
            color: $green;
            background: transparent;
        }
    }

    &--color_white {
        color: $black;
        background: $white;
        border-color: $black;

        &:hover,
        &.btn--hover {
            color: $white;
            background: $black;
        }
    }
}

/*
 * ==================================================================================
 * visually-hidden
 * ==================================================================================
 */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

/*
 * ==================================================================================
 * title
 * ==================================================================================
 */

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: $bold;
}

h1 {
    font-size: 2.25rem;
    line-height: 41px;
    margin: 0 auto;
    margin-bottom: 30px;
    max-width: calc(100vw - 30px);

    @media (max-width: $sm + px) {
        font-size: 1.5rem;
        line-height: 33px;
        margin-bottom: 15px;
    }
}

h2 {
    font-size: 2.25rem;
    line-height: 41px;
    margin: 0 auto;
    margin-bottom: 30px;
    max-width: calc(100vw - 30px);

    @media (max-width: $sm + px) {
        font-size: 1.5rem;
        line-height: 33px;
        margin-bottom: 15px;
    }
}

h3 {
    font-size: 1.875rem;
    line-height: 41px;
    margin-bottom: 30px;

    @media (max-width: $sm + px) {
        font-size: 1.125rem;
        line-height: 25px;
        margin-bottom: 10px;
    }
}

h4 {
    font-size: 1.5rem;
    line-height: 33px;

    @media (max-width: $sm + px) {
        font-size: 1.125rem;
        line-height: 25px;
    }
}

h5 {
    font-size: 1.125rem;
    line-height: 25px;
}

/*
 * ==================================================================================
 * list
 * ==================================================================================
 */

ul {
    padding-left: 20px;
    margin: 0;
}

/*
 * ==================================================================================
 * article
 * ==================================================================================
 */

article {
    display: flex;
    flex-direction: column;
}

/*
 * ==================================================================================
 * input
 * ==================================================================================
 */

.input {
    padding: 8px 15px;
    border: 1px solid $grey;
    border-radius: 3px;
    background: $white;
    font-size: 1rem;
    line-height: 22px;  
    color: $black;
    resize: vertical;
    outline: none;
    transition: border-color .2s;

    ::placeholder {
        color: $grey;
    }

    &:focus {
        border-color: $orange;
    }

    &.error {
        border-color: red;
    }
}

/*
 * ==================================================================================
 * effects
 * ==================================================================================
 */

.effect {
    text-decoration: none;

    &__item {
        transition: color .2s, fill .2s;
    }

    &--orange {
        &:hover {
            .effect__item {
                color: $orange;
                fill: $orange;
            }
        }
    }
}

/*
 * ==================================================================================
 * check
 * ==================================================================================
 */

.check {
    display: flex;
    align-items: center;
    cursor: pointer;

    &__box {
        width: 20px;
        height: 20px;
        background: $white;
        border: 1px solid $grey;
        border-radius: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 15px;
    }

    &__checked-icon {
        display: none;
        width: 18px;
        height: 18px;
        fill: $white;
    }

    &__input:checked {
        & + .check__box {
            border-color: $orange;
            background: $orange;

            & .check__checked-icon {
                display: block;
            }
        }
    }
}

/*
 * ==================================================================================
 * select
 * ==================================================================================
 */

.select {
    position: relative;
    display: block;

    &__input {
        padding: 8px 32px 8px 20px;
        background: $white;
        border: 1px solid $grey;
        border-radius: 3px;
        font-size: 1rem;
        line-height: 22px;

        @media (max-width: $sm + px) {
            padding: 8px 32px 8px 10px;
        }
    }

    &__icon {
        width: 12px;
        height: 7px;
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        pointer-events: none;
    }

    &:after {
        content: '';
        display: block;
        position: absolute;
        top: 10px;
        right: 2px;
        height: 20px;
        width: 18px;
        background: $white;
        pointer-events: none;
    }
}

/*
 * ==================================================================================
 * plus-minus
 * ==================================================================================
 */

.plus-minus {
    background: $white;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    border: 1px solid $grey;

    &__button {
        background: transparent;
        width: 35px;
        height: 100%;
        cursor: pointer;
    }

    &__button--inactive {
        background: $grey-light;
        cursor: default;
    }

    &__field {
        background: $grey-light;
        padding: 4px;
        height: 100%;
        width: 100%;
        max-width: 45px;
        text-align: center;
        border-right: 1px solid $grey;
        border-left: 1px solid $grey;
        box-sizing: border-box;
    }
}

/*
 * ==================================================================================
 * tabs
 * ==================================================================================
 */

.tabs {
    display: flex;
    flex-wrap: wrap;

    &__window {
        display: none;
        width: 100%;

        &--active {
            display: block;
        }

        @media (min-width: $lg + px) {
            &:nth-child(2) {
                order: 3;
            }

            &:nth-child(4) {
                order: 4;
            }

            &:nth-child(6) {
                order: 5;
            }
        }
    }

    &__button {
        display: block;
        width: 100%;

        @media (min-width: $lg + px) {
            width: 33.33%;

            &:nth-child(1) {
                order: 0;
            }

            &:nth-child(3) {
                order: 1;
            }

            &:nth-child(5) {
                order: 2;
            }
        }
    }
}

/*
 * ==================================================================================
 * slick-dots
 * ==================================================================================
 */

.slick-dots {
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0 -5px;

    button {
        font-size: 0;
        height: 6px;
        width: 6px;
        background: $grey;
        margin: 0 5px;
        border-radius: 50%;
    }

    li {
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
    }

    .slick-active {
        button {
            background: $orange;
        }
    }
}

/*
 * ==================================================================================
 * radio
 * ==================================================================================
 */

.radio {
    display: flex;
    align-items: center;
    cursor: pointer;

    &__box {
        width: 15px;
        height: 15px;
        background: $white;
        border: 1px solid $grey;
        border-radius: 50%;
        position: relative;

        &:after {
            content: '';
            display: none;
            width: 9px;
            height: 9px;
            position: absolute;
            top: 3px;
            left: 3px;
            border-radius: 50%;
            background: $blue;
        }
    }

    &__input:checked + .radio__box {
        border-color: $blue;

        &:after {
            display: block;
        }
    }

    &__text {
        margin-left: 20px;
    }
}