/*
 * ==================================================================================
 * html
 * ==================================================================================
 */

html {
    font-size: 16px;
}

/*
 * ==================================================================================
 * body
 * ==================================================================================
 */

body {
    color: $black;
    font-family: "OpenSans", sans-serif;
    font-size: 1rem;
    font-weight: $normal;

    &.active {
        overflow: hidden;
    }

    &::-webkit-scrollbar {
        width: 10px;
        background: $section-grey;
    }

    &::-webkit-scrollbar-thumb {
        background: rgba($orange, 0.7);

        &:hover {
            background: $orange;
        }
    }
}

/*
 * ==================================================================================
 * standart
 * ==================================================================================
 */

img,
svg {
    max-width: 100%;
    height: auto;
}

.b-lazy {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.wrapper {
    margin: 0 auto;

    &--grey {
        background: $section-grey;
    }
}

input,
button {
    outline: none;
    border: none;
}

button {
    background: transparent;
    cursor: pointer;
    padding: 0;
}

/*
 * ==================================================================================
 * grid
 * ==================================================================================
 */

.container {
    max-width: $widthContainer + 30px !important;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;

    &--without_left {
        padding-right: 0;
        display: flex;
        align-items: center;
        margin: 0;
        max-width: $widthContainer + 15 + px !important;
    }

    &--without_right {
        padding-left: 0;
        display: flex;
        align-items: center;
        margin: 0;
        max-width: $widthContainer + 15 + px !important;
    }
}

.row {
    margin-left: -($columnGap / 2) + px;
    margin-right: -($columnGap / 2) + px;

    @media (max-width: $sm + px) {
        margin-left: -($columnGap-sm / 2) + px;
        margin-right: -($columnGap-sm / 2) + px;
    }
}

.col {
    padding-right: ($columnGap / 2) + px;
    padding-left: ($columnGap / 2) + px;

    @media (max-width: $sm + px) {
        padding-right: ($columnGap-sm / 2) + px;
        padding-left: ($columnGap-sm / 2) + px;
    }
}

.bg-inherit {
    background: inherit;
}

.flex-direction-column {
    flex-direction: column;
}