/*
 * ================================================================================== 
 * font settings
 * ==================================================================================
 */

$thin: 100 !default;
$extra-light: 200 !default;
$light: 300 !default;
$normal: 400 !default;
$medium: 500 !default;
$semi-bold: 600 !default;
$bold: 700 !default;
$semi-black: 800 !default;
$black-weight: 900 !default;

/* 
 * ==================================================================================
 * colors
 * ==================================================================================
 */

$black: #000 !default;
$dark: #232323 !default;
$dark-grey: #525151;
$grey: #c4c4c4 !default;
$grey-light: #e5e5e5 !default;
$white: #fff !default;

$menu-hover: #313131;
$section-grey: #f6f7f9;
$grey-text: #838383;

$yellow: #f2c200 !default;
$orange: #ff5100 !default;
$orange-dark: #db4600 !default;
$red: #DF0000;
$blue: #171ebc !default;
$green: #3bb54a !default;

/* 
 * ==================================================================================
 * window's size
 * ==================================================================================
 */

$xx: 440 !default; // window size < 440px
$xs: 576 !default; // window size < 560px
$sm: 768 !default; // window size < 780px
$md: 992 !default; // window size < 960px
$lg: 1200 !default; // window size < 1100px
$xlg: 1400 !default; // window size < 1300px
$xl: 1600 !default; // window size < 1600px
$xxl: 1800 !default; // window size < 1800px

/* 
 * ==================================================================================
 * default... vars for bootstrap and etc.
 * ==================================================================================
 */

$widthContainer: 1200 !default; // size is in "px"
$maxWidth: 1920 !default; // size is in "px"

$columnGap: 30 !default; // size is in "px"
$columnGap-sm: 15 !default; // size is in "px"
