//breadcrumbs
section.site-section.breadcrumbs.d-none.d-md-block
    .breadcrumbs__container
        .container
            ul.breadcrumbs__list
                li.breadcrumbs__item
                    a(href="/").breadcrumbs__link
                        svg
                            use(href="img/icons.svg#home")
                    .breadcrumbs__separator
                        svg
                            use(href="img/icons.svg#triangle-right")
                li.breadcrumbs__item
                    a(href="#").breadcrumbs__link Каталог товаров
                    .breadcrumbs__separator
                        svg
                            use(href="img/icons.svg#triangle-right")
                li.breadcrumbs__item
                    a(href="#").breadcrumbs__link Запчасти для холодильников
//breadcrumbs