//breadcrumbs
section.site-section.breadcrumbs
    .breadcrumbs__container
        .container
            ul.breadcrumbs__list
                li.breadcrumbs__item
                    a(href="/").breadcrumbs__link
                        svg
                            use(href="img/icons.svg#home")
                    .breadcrumbs__separator
                        svg
                            use(href="img/icons.svg#triangle-right")
                li.breadcrumbs__item.breadcrumbs__item--history
                    a(href="catalog.html").breadcrumbs__link 
                        svg.d-block.d-md-none
                            use(href="img/icons.svg#arrow-left")
                        | Каталог товаров
                    .breadcrumbs__separator
                        svg
                            use(href="img/icons.svg#triangle-right")
                li.breadcrumbs__item
                    p.text.breadcrumbs__text Запчасти для холодильников
//breadcrumbs