// footer-article
section.site-section.site-section--grey 
    .site-section__content
        .container
            article
                h2.site-section__title Заказывайте запчасти для бытовой техники на выгодных условиях
                p Lorem ipsum dolor sit amet, cum percipit expetenda te, an sed elitr ludus. An harum splendide eum, cum no inimicus adipiscing. Eripuit efficiendi usu ad, wisi blandit repudiandae vel no, nec ipsum velit fabulas id. Cum cibo nostrum ea. Eius pertinax ad quo, lorem fierent ex has. No magna zril torquatos vis, augue invidunt vix ut, brute alterum mediocrem his ex.
                p Mei ex tale quaeque, adhuc utroque maiestatis ea mea, mea no fastidii nominati. Sed hinc eleifend cu, mazim erant civibus id pri. Sumo nostrud id cum, corpora appareat intellegam has ad. Aliquip sapientem at cum.
                p Vix natum alterum deseruisse ea. Eum eu docendi alienum praesent, affert scribentur in eum. Te nemore definiebas mei, graeco nemore cotidieque sea ut. Mea porro partem molestie in, per omnes aliquip eu. Id doming causae his.
                p Persius fierent constituam ne vix, quis alienum detracto mei cu. Mea an consulatu intellegam philosophia, sed saepe regione ea. Te usu bonorum scaevola, contentiones consequuntur necessitatibus ex has, sapientem sententiae eum no. Vidisse civibus mel cu, cum nihil prodesset no. Pri sonet aeterno intellegat at. Qui et lorem quaeque oporteat.
                p Nostro mandamus mediocritatem ea nec. Alii aeque delicatissimi et pro. Ad his iuvaret definitionem, in mea nisl integre molestie. Malis nemore nam ne. Nam aperiri definitionem no, te aperiri suscipiantur vis.
// footer-article