.sub-menu
    ul.catalog-list
        li.sub-menu--active 
            a(href="#") Все детали
        li
            a(href="#") Встройка
        li
            a(href="#") Обрамление полок
        li
            a(href="#") Полки
        li
            a(href="#") Ремкомплекты
        li
            a(href="#") Балконы надверные
        li
            a(href="#") Ледогенератор
        li
            a(href="#") Петли и двери
        li
            a(href="#") Резины (уплотнители)
        li
            a(href="#") Средства по уходу
        li
            a(href="#") Щитки откидные
        li
            a(href="#") Ящики холод. камер
        li
            a(href="#") Ящики морозилок
        li
            a(href="#") Электроника
        li
            a(href="#") Панели ящиков
        li
            a(href="#") Прочее
        li
            a(href="#") Ручки
        li
            a(href="#") Вентиляторы
        li
            a(href="#") Направляющие
    .catalog-shares.mobile-menu__catalog-shares
        .catalog-shares__title
            p.text.text--size_big Акции
        a(href="#").banner-menu
            img(width="155" height="37" src="img/bosch.png" alt="bosch")._logo
            ._image
                img(src="img/header/4.jpg" alt="bosch")
            h5._title 
                | Скидка 
                span 15%  
                | на технику BOSCH по промокоду
            ._btn.btn.btn--size_primary купить