.sub-menu
    ul.catalog-list
        li.sub-menu--active 
            a(href="shop.html") Все детали
        li
            a(href="shop.html") Встройка
        li
            a(href="shop.html") Обрамление полок
        li
            a(href="shop.html") Полки
        li
            a(href="shop.html") Ремкомплекты
        li
            a(href="shop.html") Балконы надверные
        li
            a(href="shop.html") Ледогенератор
        li
            a(href="shop.html") Петли и двери
        li
            a(href="shop.html") Резины (уплотнители)
        li
            a(href="shop.html") Средства по уходу
        li
            a(href="shop.html") Щитки откидные
        li
            a(href="shop.html") Ящики холод. камер
        li
            a(href="shop.html") Ящики морозилок
        li
            a(href="shop.html") Электроника
        li
            a(href="shop.html") Панели ящиков
        li
            a(href="shop.html") Прочее
        li
            a(href="shop.html") Ручки
        li
            a(href="shop.html") Вентиляторы
        li
            a(href="shop.html") Направляющие
    .catalog-shares.mobile-menu__catalog-shares
        .catalog-shares__title
            p.text.text--size_big Акции
        a(href="shop.html").banner-menu
            img(width="155" height="37" src="img/bosch.png" alt="bosch")._logo
            ._image
                img(src="img/header/4.jpg" alt="bosch")
            h5._title 
                | Скидка 
                span 15%  
                | на технику BOSCH по промокоду
            ._btn.btn.btn--size_primary купить