a.site-banner.b-lazy(data-src="img/site-banner.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" href="#")
    h3.site-banner__tilte.text--yellow Программа лояльности
    .site-banner__image
        img(data-src="img/pig.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="pig").b-lazy
    .site-banner__content-title 
        h4 Скидки до
        h2.text--orange 15%*
    span.site-banner__text *при оформлении заказов на сумму  от 100тис 
    .site-banner__link.link.text--orange Узнать подробнее