extends common/layout-grey

block content
    include includes/site-banner-sect
    include includes/breadcrumbs

    // home-catalog 
    section.site-section.home-catalog
        .container
            h2.text--center КАТАЛОГ ТОВАРОВ
            .row.justify-content-center
                -
                    var catalogTitle = [
                        "Запчасти для холодильников",
                        "Запчасти для стиральных машин ",
                        "Запчасти для кофемашин",
                        "Запчасти для посудомоек",
                        "Запчасти для сушилок",
                        "Запчасти для духовок",
                        "Запчасти для газовых плит",
                        "Запчасти для электроплит",
                        "Запчасти для микроволновок",
                        "Запчасти для остального"
                    ]
                - for (let i=0; i<catalogTitle.length; i++)
                    // catalog-item
                    .col.col-12.col-lg-6.home-catalog__catalog-item
                        .catalog-item
                            .catalog-item__image
                                img(width="120" data-src=`img/catalog/${i}.jpg` src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="catalog-item").b-lazy
                            h4.catalog-item__title
                                a(href="categories.html")= catalogTitle[i]
                            ul.catalog-item__content
                                li
                                    a(href="categories.html") Electolux
                                li
                                    a(href="categories.html") Bosch
                                li
                                    a(href="categories.html") Gorenje
                                li
                                    a(href="categories.html") Indesit
                                li
                                    a(href="categories.html") Candy Teka
                                li
                                    a(href="categories.html") Asko
                                li
                                    a(href="categories.html") Siemens
                                li
                                    a(href="categories.html") Vestforst
                                li
                                    a(href="categories.html") Krcher
                                li
                                    a(href="categories.html") IKEA
                                li
                                    a(href="categories.html") Saeco
                                li
                                    a(href="categories.html") Zanussi
                                li
                                    a(href="categories.html") AEG
                                li
                                    a(href="categories.html") Whirlpool
                    // catalog-item 
            .catalog-loadmore.home-catalog__catalog-loadmore.d-none.d-md-block
    // home-catalog 

    include includes/footer-article