extends common/layout

block content
    // home-offer 
    section.site-section.home-offer
        .site-section__content
            .container.home-offer__container
                .home-offer__column.home-offer__column--slider 
                    .home-offer__navigation
                        .home-offer__dots
                            .home-offer__slider-counter
                                p.text.text--size_big.home-offer__slider-now
                                p.text.text--size_big.home-offer__slider-separator /
                                p.text.text--size_big.home-offer__slider-all
                    .home-slider 
                        - for(let i=0; i<5; i++)
                            .home-slider__item
                                img.home-slider__image(data-lazy="img/header/0.jpg")
                                .home-slider__content 
                                    h2.home-slider__title Вcё для ремонта бытовой техники по лучшим ценам
                                    h4.home-slider__description Покупая продукцию в нашем магазине, Вы приобретаете абсолютно новую продукцию с гарантией.
                                    a(href="catalog.html").home-slider__btn.btn.btn--type_empty.btn--size_primary Перейти в каталог
                .home-offer__column
                    // home-banner 
                    a.home-banner.b-lazy(data-src="img/header/1.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" href="#")
                        h4.home-banner__title.home-banner__title--center.home-banner__text-yellow Программа лояльности
                        .home-banner__wrapper
                            img(width="147" data-src="img/pig.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="pig").home-banner__image.b-lazy
                            .home-banner__content
                                .home-banner__content-title 
                                    h5 Скидки до
                                    h3.home-banner__text-orange 15%*
                                .link.home-banner__link.home-banner__text-orange Узнать подробнее
                                span.home-banner__text *при оформлении заказов на сумму  от 100тис 
                    // home-banner 
                .home-offer__column
                    // home-banner 
                    a.home-banner.home-banner--content_center.b-lazy(data-src="img/header/2.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" href="#")
                        .home-banner__content
                            h4.home-banner__title Доставка по всей РФ и странам СНГ
                            .link.home-banner__link Подробнее о доставке
                    // home-banner 
                .home-offer__column
                    // home-banner 
                    a(href="#" data-src="img/header/3.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==").home-banner.home-banner--content_text.b-lazy
                        .home-banner__content.home-banner__content--text_bottom
                            h5.home-banner__title 
                                | РЕМОНТ БЫТОВОЙ ТЕХНИКИ
                                br
                                | В 
                                span.home-banner__text-yellow ВОЛЖСКОМ
                                br
                                | и Волгоградской области
                    // home-banner 
                .home-offer__column
                    // home-banner 
                    a(href="#").home-banner.home-banner--content_logo
                        img(width="155" height="37" data-src="img/bosch.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="bosch").home-banner__logo.b-lazy
                        .home-banner__image
                            img(data-src="img/header/4.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="bosch").b-lazy
                        .home-banner__content
                            h5.home-banner__title 
                                | Скидка 
                                span.home-banner__text-orange 15%  
                                | на технику BOSCH по промокоду
                            .home-banner__btn.btn.btn--size_primary купить
                    // home-banner 
                .home-offer__column
                    // home-banner 
                    a(href="#").home-banner.home-banner--content_left
                        .home-banner__content
                            h4.home-banner__title Средства по уходу за техникой
                            .home-banner__btn.btn.btn--size_primary.btn--type_empty Показать все
                        img(data-src="img/header/5.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Средства по уходу за техникой").home-banner__image.b-lazy
                    // home-banner
    // home-offer 
    // home-catalog 
    section.site-section.home-catalog.pt-sm-0
        h2.text--center КАТАЛОГ ТОВАРОВ
        .site-section__content.site-section__content--grey
            .container
                .row.justify-content-center
                    -
                        var catalogTitle = [
                            "Запчасти для холодильников",
                            "Запчасти для стиральных машин ",
                            "Запчасти для кофемашин",
                            "Запчасти для посудомоек",
                            "Запчасти для сушилок",
                            "Запчасти для духовок"
                        ]
                    - for (let i=0; i<catalogTitle.length; i++)
                        // catalog-item
                        .col.col-12.col-lg-6.home-catalog__catalog-item
                            .catalog-item
                                .catalog-item__image
                                    img(width="120" data-src=`img/catalog/${i}.jpg` src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="catalog-item").b-lazy
                                h4.catalog-item__title
                                    a(href="categories.html")= catalogTitle[i]
                                ul.catalog-item__content
                                    li
                                        a(href="categories.html") Electolux
                                    li
                                        a(href="categories.html") Bosch
                                    li
                                        a(href="categories.html") Gorenje
                                    li
                                        a(href="categories.html") Indesit
                                    li
                                        a(href="categories.html") Candy Teka
                                    li
                                        a(href="categories.html") Asko
                                    li
                                        a(href="categories.html") Siemens
                                    li
                                        a(href="categories.html") Vestforst
                                    li
                                        a(href="categories.html") Krcher
                                    li
                                        a(href="categories.html") IKEA
                                    li
                                        a(href="categories.html") Saeco
                                    li
                                        a(href="categories.html") Zanussi
                                    li
                                        a(href="categories.html") AEG
                                    li
                                        a(href="categories.html") Whirlpool
                        // catalog-item 
            .catalog-loadmore.home-catalog__catalog-loadmore
                button.btn-loadmore
                    span.btn-loadmore__text ПОКАЗАТЬ ЕЩЁ
                    svg.btn-loadmore__icon
                        use(href="img/icons.svg#align-down")
    // home-catalog 
    include includes/footer-article
