extends common/layout

block content
    // home-offer 
    section.site-section.home-offer
        .container.home-offer__container
            .home-offer__column.home-offer__colum--slider
            .home-offer__column
                // home-banner 
                .home-banner
                    h4.home-banner__title.home-banner__text-yellow Программа лояльности
                    .home-banner__wrapper
                        img(src="img/pig.jpg", alt="pig").home-banner__image
                        .home-banner__content
                            .home-banner__content-title
                                h5 Скидки до
                                h3.home-banner__text-orange 15%*
                            a(href="#").link.home-banner__link.home-banner__text-orange Узнать подробнее
                            p.home-banner__text *при оформлении заказов на сумму  от 100тис 
                // home-banner 
            .home-offer__column
            .home-offer__column
            .home-offer__column
            .home-offer__column
    // home-offer 
    // home-catalog 
    section.site-section.home-catalog
        .container
            h2.site-section__title.site-section__title--center КАТАЛОГ ТОВАРОВ
        .site-section__content.site-section__content--grey
            .container
                .row
                    -
                        var catalogTitle = [
                            "Запчасти для холодильников",
                            "Запчасти для стиральных машин ",
                            "Запчасти для кофемашин",
                            "Запчасти для посудомоек",
                            "Запчасти для сушилок",
                            "Запчасти для духовок"
                        ]
                    - for (let i=0; i<catalogTitle.length; i++)
                        // catalog-item
                        .home-catalog__catalog-item
                            .catalog-item
                                img(width="120px" data-src=`img/catalog/${i}.jpg` src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="catalog-item").catalog-item__image.b-lazy
                                .catalog-item__wrapper
                                    h4.catalog-item__title
                                        a(href="#")= catalogTitle[i]
                                    .catalog-item__content
                                        p.text.catalog-item__text Electolux
                                        p.text.catalog-item__text Bosch
                                        p.text.catalog-item__text Gorenje
                                        p.text.catalog-item__text Indesit
                                        p.text.catalog-item__text Candy
                                        p.text.catalog-item__text Teka
                                        p.text.catalog-item__text Asko
                                        p.text.catalog-item__text Siemens
                                        p.text.catalog-item__text Vestforst
                                        p.text.catalog-item__text Krcher
                                        p.text.catalog-item__text IKEA
                                        p.text.catalog-item__text Saeco 
                                        p.text.catalog-item__text Zanussi
                                        p.text.catalog-item__text Whirlpool
                        // catalog-item 
    // home-catalog 
    include includes/footer-article
